@charset "utf-8";
/* CSS Document */
html, 
body, 
header,
main {
  width: 100%;
}
body,
td,
th,
p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
  line-height: 1.5;
  text-align: left;
}
body {
	background-color: #fdfdfd;
  margin: 0;
  height: 100%;
}
ul, 
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, 
a:focus {
	color: #3397DB;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

table, 
td, 
tr {
  display: block;
}

th {
  display: none;
}

td:nth-child(1) {
  text-decoration: underline;
}
article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #fff;
  font-size: 0.7em;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}
.screen-hidden {
  height: 1px;
  width: 1px;
  left: -9999px;
  position: absolute;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 15px;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;  
}
#breadcrumb {
    list-style: none;
    background-color: #eee;
    font-size: 1em;
    margin: 0;
    padding: 10px 20px;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #444;
  text-decoration: underline;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 50vh;
  width: 100%;
  background-color: #ccc;
}
#map-container {
  width: 100%;
  background: blue none repeat scroll 0 0;
  height: 87%;
  right: 0;
  top: 60px;
  width: 100%;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  padding-top: 20px;
  background-color: #444;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 40px;
  letter-spacing: 0;
  margin: 20px;
  padding: 10px 10px;
  width: calc(100% - 40px);
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  min-height: 380px;
  text-align: left;
  width: calc(100% - 20px);
  margin: 10px;
  border-top-left-radius: 20px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  border-top-left-radius: 20px;
}
#restaurants-list li h3 {
  color: #744500;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px;
  text-transform: uppercase;
}
#restaurants-list li p {
  margin: 10px 20px;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #744500;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  right: 0;
  top: 80px;
  width: 100%;
}

#restaurant-name {
  color: #744500;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  border-top-left-radius: 20px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, 
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px;
}

#reviews-container h2 {
  color: #744500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 0 20px;
  width: 100%;
  border-top-left-radius: 20px;
}
#reviews-list li p {
  margin: 0 0 10px;
  padding: 0 20px;
  color: #666;
}
#restaurant-hours td {
  color: #666;
}
.review-name {
  float: left;
  color: #fff !important;
  font-weight: bold;
}
.review-date {
  float: right;
  color: #fff !important;
  font-size: 0.9em;
}
.review-rating {
  clear: left;
  padding: 5px 10px !important;
  background-color: #744500;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin: 15px 0 14px 20px !important;
  display: table;
  border-radius: 2px;
}
.review-heading {
  padding: 10px 0;
  background-color: #333;
  height: 20px;
  border-top-left-radius: 20px;
}

@media screen and (min-width: 403px) {
  nav h1 a {
    font-size: 0.7em;
  }
  .filter-options select {
    width: calc((100% - 60px)/2);
  }
  #cuisines-select {
    float: right;
    margin-left: 0;
  }
}

@media screen and (min-width: 424px) {
  table {
    display: table;
  }
  tr {
    display: table-row;
  }
  td {
    display: table-cell;
    text-decoration: none !important;
  }
}

@media screen and (min-width: 460px) {
  #restaurant-container, #reviews-container {
    padding: 20px 40px;
  }
}

@media screen and (min-width: 624px) {
  #restaurants-list {
    display: flex;
    flex-wrap: wrap;
  }

  #restaurants-list li {
    width: calc((100% - 50px)/2);
  }
}

@media screen and (min-width: 850px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
  }
  
  /* body {
    overflow: hidden;
  } */

  header {
    position: fixed;
    z-index: 2000;
  }

  #maincontent {
    height: 100%;
  }

  #map {
    height: 100%;
  }

  #map-container,
  .inside #map-container {
    width: 60%;
    position: fixed;
    height: 100%;
    overflow: hidden;
    order: 2; 
  }

  .inside #map-container {
    width: calc(60% - 20px);
    margin-top: 1.5em;
  }

  .not-map {
    width: 40%;
    padding-top: 60px;
  }

  #restaurant-container, #reviews-container {
    padding: 20px 10px;
  }

  #restaurant-container {
    padding-top: 110px;
  }

  #restaurants-list {
    padding-top: 130px;
    padding-bottom: 50px;
  }

  #restaurants-list li {
    position: relative;
    padding-bottom: 35px;
  }

  #restaurants-list li a {
    position: absolute;
    bottom: 0;
  }

  #restaurants-list li {
    width: calc(100% - 20px);
  }
  
  .filter-options {
    position: fixed;
    width: 40%;
    z-index: 1000;
    marg
  }

}

@media screen and (min-width: 1200px) {
  #restaurants-list li {
    width: calc((100% - 50px)/2);
  }
}